//colors
$primary-color:#1383da;
$secondary-color: #2c8efe;
$light-color: #f8f8f8;
$dark-color: #212121;
$secondary-dark-color: #686a6a;
$input-color: #e5e5e5;
$btn-hover: #858585;
$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;
$background-color: #f9f9f9;
$text-color: #2e2e2e;
$button-color: #fff2ec;