@import url('https://fonts.googleapis.com/css2?family=Poppins');

$xs: 4px;
$sm: 8px;
$md: 14px;
$lg: 24px;
$xl: 40px;

//font-sizes
$title-size: 2.4rem;
$accent-size: 1.6rem;

//font-family
$title-font: 'Poppins','sans-serif';
$accent-font: 'Poppins','sans-serif';
